<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="1e70f9e8-cde3-4ad2-b247-220fc979bf40"
            Publisher="CN=Admin"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>IntroductionW8</DisplayName>
    <PublisherDisplayName>Admin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="IntroductionW8.App">
        <VisualElements
            DisplayName="IntroductionW8"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="IntroductionW8"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>